.taskCompleted {
    text-decoration: line-through;
    color: grey;
}

.box {
    max-width: 500px; 
    padding: 20px;
    background-color: #fff; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}